/**
 * スケルトンのデザイン
 * ============================================================================
 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#left_pain {
    position: absolute;
    z-index: 100;
    width: 220px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0 5px;
    background-color: rgba(76,175,80,1);
}

#right_pain {
    width: 100%;
    height: 100%;
    /*background-color: rgba(102,187,106,1);*/
    background-size: 20px 20px;
    background-color: #3cb371;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, #66BB6A), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, #66BB6A),
        color-stop(.75, #66BB6A), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(-45deg, #66BB6A 25%, transparent 25%,
        transparent 50%, #66BB6A 50%, #66BB6A 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #66BB6A 25%, transparent 25%,
        transparent 50%, #66BB6A 50%, #66BB6A 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, #66BB6A 25%, transparent 25%,
        transparent 50%, #66BB6A 50%, #66BB6A 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #66BB6A 25%, transparent 25%,
        transparent 50%, #66BB6A 50%, #66BB6A 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #66BB6A 25%, transparent 25%,
        transparent 50%, #66BB6A 50%, #66BB6A 75%,
        transparent 75%, transparent);
}


/**
 * メニューのデザイン
 * ============================================================================
 */
#social_icons {
    margin: 0 auto;
    width: 12em;
}

.fa-circle {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.button-social {
    cursor: pointer;
}

    .button-social:hover .fa-circle {
        -moz-transition: 0.3s ease-in-out all;
        -o-transition: 0.3s ease-in-out all;
        -webkit-transition: 0.3s ease-in-out all;
        transition: 0.3s ease-in-out all;
        color: white;
    }

.button-twitter {
    -moz-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    color: #00ACED;
}

.button-social:hover .fa-twitter {
    color: #00ACED;
}

.button-facebook {
    -moz-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    color: #305097;
}

.button-social:hover .fa-facebook {
    color: #305097;
}

.button-googleplus {
    -moz-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    color: #DB4A39;
}

.button-social:hover .fa-google-plus {
    color: #DB4A39;
}

.button-shoppingcart {
    -moz-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    color: #F897A6;
}

.button-social:hover .fa-shopping-cart {
    color: #F897A6;
}

#logo {
    margin: 10px 0;
}

    #logo a {
        position: relative;
        display: block;
        z-index: 300;
    }

    #logo img {
        display: block;
        margin: 0 auto;
    }

.button-group {
    margin: 10px 0;
}

.button-open {
    display: inline-block;
    position: relative;
}

    .button-open:hover .button-menu {
        background-color: rgba(255, 255, 255, 0.2);
    }

.input-motion {
    position: absolute;
    top: 0;
    left: 10px;
    width: 92px;
    height: 66px;
    opacity: 0;
    cursor: pointer;
}

    .input-motion:disabled {
        cursor: not-allowed;
    }

.button-menu {
    outline: none;
    display: inline-block;
    border: solid 4px #FFFFFF;
    border-radius: 10px;
    margin-left: 10px;
    padding: 1px 6px;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px;
    background-color: transparent;
    -moz-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
}

    .button-menu:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
    }

    .button-menu:disabled {
        cursor: not-allowed;
    }

    .button-menu.disabled {
        cursor: not-allowed;
    }


/**
 * モデルエディタのデザイン
 * ============================================================================
 */
#indent_container {
    padding-left: 220px;
    width: 100%;
    height: 100%;
}

#model_editor {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

#canvas_wrapper {
    margin: 0 10px 0 15px;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
}

/**
 * フレームエディタのデザイン
 * ============================================================================
 */
#scrollable_container {
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 12px 0 22px;
    height: 192px;
    width: 100%;
    bottom: 0;
}

    #scrollable_container::-webkit-scrollbar {
        height: 10px;
    }

    #scrollable_container::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    #scrollable_container::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

#frame_editor {
    width: 3600px;
    height: 158px;
}

.frame_editor-disabled {
    position: absolute;
    bottom: 0;
    z-index: 9999;
    cursor: not-allowed;
    width: 3600px;
    height: 158px;
}

.frame_editor-enabled {
    display: none;
}

.frame {
    position: relative;
    display: inline-block;
    border: solid 4px #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px;
    opacity: 0.5;
    width: 158px;
    height: 158px;
    margin-left: 15px;
    padding: 5px;
    cursor: move;
    overflow: hidden;
    color: white;
    text-shadow: 0 0 3px #000;
    font-weight: bold;
    font-size: 16px;
}

    .frame.ng-enter {
        -moz-transition: 0.4s ease-in-out all;
        -o-transition: 0.4s ease-in-out all;
        -webkit-transition: 0.4s ease-in-out all;
        transition: 0.4s ease-in-out all;
        width: 0;
        margin-right: -15px;
        margin-left: 0;
        opacity: 0;
    }

        .frame.ng-enter div {
            display: none;
        }

    .frame.ng-enter-active {
        width: 158px;
        margin-right: 0;
        margin-left: 15px;
        opacity: 0.4;
    }

    .frame.ng-leave {
        -moz-transition: 0.4s ease-in-out all;
        -o-transition: 0.4s ease-in-out all;
        -webkit-transition: 0.4s ease-in-out all;
        transition: 0.4s ease-in-out all;
        width: 158px;
        margin-right: 0;
        margin-left: 15px;
        opacity: 0.4;
    }

        .frame.ng-leave div {
            display: none;
        }

    .frame.ng-leave-active {
        width: 0;
        margin-right: -15px;
        margin-left: 0;
        opacity: 0;
    }

.frame-selected {
    opacity: 1;
}

.frame-property:after {
    clear: both;
}

.frame-id {
    display: inline-block;
    float: left;
}

.button-close {
    outline: none;
    background-color: transparent;
    display: inline-block;
    border: none;
    padding: 0;
    padding-right: 2px;
    float: right;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

    .button-close .fa-times-circle-o {
        font-size: 40px;
    }

.input-transition_time {
    position: absolute;
    bottom: 0;
}

    .input-transition_time input[type=number] {
        cursor: text;
        background: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 0;
        border-bottom: 3px solid #B2DB11;
        text-shadow: 0 0 3px #000;
        margin-bottom: 5px;
        width: 75px;
    }

    .input-transition_time input[type=number]:disabled {
        opacity: inherit;
    }

    .input-transition_time input[type=range] {
        cursor: default;
        padding-bottom: 5px;
        width: 140px;
    }
