<div id="model_editor_panel">
    <button type="button" ng-click="model_editor_panel.onClick(0)" ng-disabled="model_editor_panel.disabled" title="Reverse the left side and right side of the 3D model.">
        <i class="fa fa-fw fa-arrows-h fa-3x"></i>
    </button>
    <button type="button" ng-click="model_editor_panel.onClick(1)" ng-disabled="model_editor_panel.disabled" title="Copy the right side to left side of the 3D model.">
        <i class="fa fa-fw fa-long-arrow-left fa-3x"></i>
    </button>
    <button type="button" ng-click="model_editor_panel.onClick(2)" ng-disabled="model_editor_panel.disabled" title="Copy the left side to right side of the 3D model.">
        <i class="fa fa-fw fa-long-arrow-right fa-3x"></i>
    </button>
    <button type="button" ng-click="model_editor_panel.onClick(3)" title="Reset the camera position.">
        <i class="fa fa-fw fa-street-view fa-3x"></i>
    </button>
</div>
