<div id="frame_editor" ui-sortable="$ctrl.sortable_options" ng-click="$ctrl.onClick($event)" ng-model="$ctrl.motion.frames">
    <div class="frame"
        ng-repeat="frame in $ctrl.motion.frames"
        ng-class="{ 'frame-selected': frame.selected }"
        ng-mousedown="$ctrl.motion.selectFrame($index)"
        ng-style="{ background: 'url(' + frame.image_uri + ')' }"
    >
        <div class="frame-property">
            <span class="frame-id">Frame : {{ $index }}</span>
            <button class="button-close" type="button"
                ng-mousedown="$event.stopPropagation(); $ctrl.motion.removeFrame($index);"
                title="Delete this frame."
            >
                <i class="fa fa-inverse fa-times-circle-o"></i>
            </button>
        </div>
        <div class="input-transition_time" title="Set time of transition to this frame.">
            <div>Transition time :</div>
            <input type="number" min="1" max="5000" ng-disabled="$ctrl.touch_disabled" ng-model="frame.transition_time_ms"> [ms]
            <input type="range" min="1" max="5000" step="1" ng-model="frame.transition_time_ms">
        </div>
    </div>
</div>
<div ng-class="{ 'frame_editor-disabled': $ctrl.disabled, 'frame_editor-enabled': !$ctrl.disabled }"></div>