<div class="modal-header">
    <button type="button" ng-click="modal.cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Connect to "PLEN - Control Server".</h4>
</div>
<div class="modal-body">
    <article>
        <h2>Connecting Process</h2>
        <ol>
            <li>Connect your PLEN with USB (type micro B) cable.</li>
            <li>
                Run the <a href="https://github.com/plenproject/plen__control_server/releases/" target="_blank">&quot;PLEN - Control Server&quot;</a>.
                MOTION EDITOR REQUIRES CONTROL SERVER WHICH IS VERSION 2.0.0 OR LATER!
            </li>
            <li>Click to the &quot;Connect&quot; button.</li>
        </ol>

        <h2>Server Setting</h2>
        <div class="form-group">
            <label for="server-ipaddr-input">Server IP Address (and Port).</label>
            <input type="text" class="form-control" id="server-ipaddr-input" ng-model="modal.ip_addr" />
        </div>
    </article>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.connect()">Connect</button>
    <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
</div>